body {
    margin: 0 auto;
    border-bottom: 1px solid #000000;
    width: 800px;
    height: 800px
}

.header {
    border-bottom: 2px solid #000000;
}

#MyRangeValidator {
    color: red;
}

#MyRequiredFieldValidator {
    color: red;
}

#MyValidationSummary {
    color: red;
}